

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  padding-top: 0;
  background-color: #242424;
  border-radius: 20px;
  margin-top: 1.2rem;
}

.main-container{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.container.modal-open {
  width: 0%;
}


.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-title {
  color: white;
  font-weight: bold;
  margin: 5px 0 0 0;
  font-family: "Bowlby One SC", serif;
  font-size: 2.3rem;
  width: 30rem;
}

.balance-card {
  text-align: center;
  margin-bottom: 1rem;
}

.balance-title {
  color: #4b6ab6;
  font-size: 2rem;
  margin: 0;
  font-family: "Lekton", serif;
  font-weight: 100;
}

.balance-card-amount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance-amount {
  font-size: 1.875rem;
  font-weight: bold;
  color: white;
  margin: 0;
  background-color: #059669;
  border-radius: 10px;
  padding: 0 1rem 0 1rem;
}

.new-transaction-button {
  background-color: #001F54;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-transaction-button:hover {
  background-color: #284767;
  border: none;
}

.new-transaction-label{
  color: #059669;
  margin: 0;
  font-size: 1.2rem;
}



@media screen and (max-width: 1024px) {
  .container {
    width: 53%;
  }
  
}

@media screen and (max-width: 768px) {
  .container {
    width: 70%;
  }
  
}

@media screen and (max-width: 426px) {
  .dashboard-title {
    width: 100% ;
    font-size: 1rem;
  }
  .balance-title {
    font-size: 1rem ;
  }
  .balance-amount{
    font-size: 1rem;
  }
  .new-transaction-button {
    width: 30px;
    height: 30px;
  }
  .new-transaction-label{
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .main-container{
    width: 20rem;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 90%;
  }
  
}